.home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f8f9fa; */
    width: 100%;
}

* {
    box-sizing: border-box;

}

.banner {
    max-width: 100%;
    /* position: absolute; */
    /* top: 35px; */
    /* position: absolute; */
    box-sizing: border-box;
    /* overflow: hidden; */
    padding-top: 5px;

}

.banner-list {
    display: flex;
    justify-content: center;
}

/* CSS Banner-main */
.banner-main {
    min-width: 940px;
    height: 310px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border-color: #c5d097;
    box-sizing: border-box;
    border: 1px solid #a43441;
}

.banner1 {
    position: absolute;

    display: flex;
    width: max-content;
   
}

.banner1 img {
    width: 940px;
    height: 100%;
    object-fit: cover;
}

.banner-main .buttons {
    position: absolute;
    top: 40%;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

.banner-main .buttons button {
    width: 30px;
    height: 80px;
    background-color: rgba(228, 207, 207, 0.333);
    color: #705a5a;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.banner-main .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.banner-main .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #de8d8d;
    margin: 0px 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.banner-main .dots li.active {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .banner-main {
        height: 400px;
    }
}

/* CSS banner aside */
.banner-second {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 260px;
    height: 310px;
}

.banner-second img {
    /* object-fit: cover; */
    width: 100%;
    min-height: 100px;
    border-radius: 3px;
}

.banner-second a {
    display: flex;
    justify-content: center;
    /* Căn giữa nội dung bên trong thẻ a theo chiều ngang */
    align-items: center;
    /* Căn giữa nội dung bên trong thẻ a theo chiều dọc */
    height: 100%;
    /* Đảm bảo thẻ a chiếm toàn bộ chiều cao của thẻ div cha */

}


.banner2 {
    flex: 0.3;
    background-color: rgb(172, 37, 37);
    position: relative;
    box-shadow: 0 0 5px rgb(172, 37, 37);
    animation: animate alternate 0.3s infinite;
    margin: 3px 6px 0 0;


}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.banner2 a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding-left: 5px;
}

.banner-second .banner2 img {
    position: absolute;
    top: -25px;
    right: -90px;

}


.banner3 {
    flex: 0.5;
    margin: 5px 0;
    border: 2px solid;
}

.banner4 {
    flex: 0.5;
    border: 2px solid;
}

.banner2,
.banner3,
.banner4 {
    border-radius: 5px;
    border-color: rgb(2, 132, 139);

}