* {
    box-sizing: inherit;
}

/* html{
    font-size: 62.5%;
}

p{
    font-size: 1.6rem;
} */
/* .grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap; */
/* } */
body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    /* background-color: rgba(255,255,255,0.8); */
    box-sizing: border-box;
    /* display: block; */
    background-color: #f8f9fa;;
}
a:hover {
    text-decoration: none;
}
.main_container {
    margin-top: 60px;  
    position: relative;
    /* position: relative; */
    background: transparent;
    height: 3600px;

}
.main_container_chil {
    margin-top: 60px;  
    /* position: relative; */
    /* position: relative; */
    background: transparent;
    height:100%;
     min-height: 1200px;  
     background-color: rgba(255, 255, 255, 0.8) 
}
/* iframe{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    overflow: hidden;
  
   
      
      

   

} */

.app {
    
    max-width: 1240px;
    margin: 0 auto;

}