.contact {
    right: 10px;
    top: 500px;
    /* width: 200px; */
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.zalo, .message {
    display: flex;
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    flex-direction: row-reverse;
}

.zalo img, .message img {
    width: 52px;
    height: 52px;
    margin-left: 10px;
}

.message img {
    width: 50px;
    height: 50px;
}

.zalo span, .message span {
    display: none; /* Ẩn phần tử span theo mặc định */
    background-color: #0277bd;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 10px;
    height: 30px;
    margin-left: 10px;
    width: 150px;
}

.zalo:hover span, .message:hover span {
    display: block; /* Hiển thị phần tử span khi di chuột vào phần tử chứa */
}
