.contact {
    right: 10px;
    bottom: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.zalo a, .message a {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-decoration: none;
    justify-content: flex-end;  
}

.zalo img, .message img {
    width: 52px;
    height: 52px;
    margin-left: 10px;
    z-index: 2;  /* Add this to ensure image is always on top */
}

.message img {
    width: 50px;
    height: 50px;
}

.zalo span, .message span { 
    background-color: #0277bd;
    border-radius: 5px;
    padding: 5px 5px; 
    text-align: center;
    color: white;
    font-size: 10px;
    height: 30px;
    width: 140px;
    display: none; 
    position: absolute; 
    right: 62px;  
    align-items: center;
    justify-content: center;
}

.zalo a:hover span, .message a:hover span {
    display: flex;  /* Changed from block to flex */
}