.header {
    max-width: 100%;
    height: 60px;
    background-color: rgb(2, 132, 139);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-sizing: border-box;
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


}
.logo a{
    text-decoration: none;
}
/* CSS thanh tìm kiếm */
.header-search {
    background-color: white;
    width: 20%;
    height: 35px;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 3px;
}

.search-btn {
    height: 35px;
    width: 55px;
    border-radius: 0 4px 4px 0;
    background: #f7f7f7;
    color: #635f5f;
    margin-top: 0px;
    margin-right: 1px;
    font-size: 27px;
    padding-top: 4px;
    position: absolute;
    right: 0px;
    border: none;
}

.icon-search {
    height: 28px;
    width: 30px;
}

/* CSS Navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-left: 30px;
    height: 100%;

}

.navbar-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    ;

}

.navbar-list a {
    outline: none;
    height: 100%;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px 10px 0 10px;
    transition: border 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-transform: uppercase;
}

.navbar-list a img {
    width: 25px;
    height: 30px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.navbar-list a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgb(6, 101, 106);
    color: darkred;
    transform: scale(1.05);
}

.check-order a:hover {
    background-color: transparent;
    border-color: transparent;
    color: white;
    transform: scale(0.95);
}



/* CSS giỏ hàng */
.header-cart {
    width: 45px;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
}

.header-cart-img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.header-cart span {
    position: absolute;
    height: 19px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    background-color: red;
    right: 6px;
    top: 1px;
    text-decoration: none;
    color: #f7f7f7;
}
/* giỏ hàng không sản phẩm */
.header-cart {
    position: relative; /* Ensure child elements are positioned relative to this container */
}

.header-cart .cart-no-item {
    position: absolute;
    width: 390px;
    height: 222px;
    top: 49px;
    right: -4px;
    object-fit: contain;
    box-shadow: 0 0 5px gray;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.header-cart .cart-no-item img {
    width: 50%;
    height: 50%;
}

.header-cart:hover .cart-no-item {
    display: flex; /* Use flex to center the image */
}

.header-cart::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent white transparent; /* Triangle pointing up */
    display: none;
}
.header-cart:hover::after {
   display: block;
}


/* CSS đăng nhập */
.log-in {

    border: 2px solid rgb(237, 230, 216);
    width: 100px;
    height: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: border 0.3s, background-color 0.3s;
    position: relative;
}

.log-in a {

    text-decoration: none;
    color: white;
    margin: auto;
}

.log-in-icon-img {

    height: 34px;
    padding-bottom: 4px;
    box-sizing: border-box;
    position: absolute;
    left: 33px;
}

.log-in-icon span {
    text-decoration: none;
    position: absolute;
    bottom: 2px;
    left: 10px;

}

.log-in:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgb(6, 101, 106);
}

/* menu con */
.all-mobile h4,
.all-laptop h4,
.all-iphone h4,
.all-samsung h4,
.all-asus h4,
.all-dell h4 {
    margin: 10px 0px;
}

.navbar .navbar-list .mobile .all-mobile,
.navbar .navbar-list .iphone .all-iphone,
.navbar .navbar-list .samsung .all-samsung,
.navbar .navbar-list .laptop .all-laptop,
.navbar .navbar-list .asus .all-asus,
.navbar .navbar-list .dell .all-dell {
    width: 30%;
    height: 220px;
    display: flex;
    border: 2px transparent;
    position: absolute;
    top: 60px;
    background-color: white;
    color: black;
    /* left: 520px; */
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    justify-content: space-between;
    display: none;
    padding: 0 15px;


}

/* laptop */
/* .navbar .navbar-list .laptop .all-laptop {
    left: 800px;
} */

/* iphone */
/* .navbar .navbar-list .iphone .all-iphone {
    left: 620px;
} */

/* samsung */
/* .navbar .navbar-list .samsung .all-samsung {
    left: 680px;
} */

/* asus */
/* .navbar .navbar-list .asus .all-asus {
    left: 820px;
} */
/* dell */
/* .navbar .navbar-list .dell .all-dell {
    left: 900px;
} */



.navbar .navbar-list .mobile .all-mobile .brand a,
.navbar .navbar-list .mobile .all-mobile .fillter-price a,
.navbar .navbar-list .mobile .all-mobile .hot-mobile a,
/* laptop */
.navbar .navbar-list .laptop .all-laptop .brand a,
.navbar .navbar-list .laptop .all-laptop .fillter-price a,
.navbar .navbar-list .laptop .all-laptop .hot-laptop a,
/* iphone */
.navbar .navbar-list .iphone .all-iphone .brand a,
.navbar .navbar-list .iphone .all-iphone .fillter-price a,
.navbar .navbar-list .iphone .all-iphone .hot-mobile a,
/* samsung */
.navbar .navbar-list .samsung .all-samsung .brand a,
.navbar .navbar-list .samsung .all-samsung .fillter-price a,
.navbar .navbar-list .samsung .all-samsung .hot-mobile a,
/* asus */
.navbar .navbar-list .asus .all-asus .brand a,
.navbar .navbar-list .asus .all-asus .fillter-price a,
.navbar .navbar-list .asus .all-asus .hot-mobile a,
/* dell */
.navbar .navbar-list .dell .all-dell .brand a,
.navbar .navbar-list .dell .all-dell .fillter-price a,
.navbar .navbar-list .dell .all-dell .hot-mobile a 
{
    text-transform: none;
    transform: none;
    padding: 0; 
    
    margin: 0;
     border: none;
    /* display: flex; */
    align-items: flex-start;
   





}

.navbar .navbar-list .mobile:hover .all-mobile,
/* iphone */
.navbar .navbar-list .iphone:hover .all-iphone,
/* samsung */
.navbar .navbar-list .samsung:hover .all-samsung,
/* laptop */
.navbar .navbar-list .laptop:hover .all-laptop,
/* asus */
.navbar .navbar-list .asus:hover .all-asus,
/* dell */
.navbar .navbar-list .dell:hover .all-dell
{
    display: flex;
    

}

.navbar .navbar-list .mobile .all-mobile .brand a:hover,
.navbar .navbar-list .mobile .all-mobile .fillter-price a:hover,
.navbar .navbar-list .mobile .all-mobile .hot-mobile a:hover,
/* iphone */
.navbar .navbar-list .iphone .all-iphone .brand a:hover,
.navbar .navbar-list .iphone .all-iphone .fillter-price a:hover,
.navbar .navbar-list .iphone .all-iphone .hot-mobile a:hover,
/* samsung */
.navbar .navbar-list .samsung .all-samsung .brand a:hover,
.navbar .navbar-list .samsung .all-samsung .fillter-price a:hover,
.navbar .navbar-list .samsung .all-samsung .hot-mobile a:hover,
/* laptop */
.navbar .navbar-list .laptop .all-laptop .brand a:hover,
.navbar .navbar-list .laptop .all-laptop .fillter-price a:hover,
.navbar .navbar-list .laptop .all-laptop .hot-laptop a:hover,
/* asus */
.navbar .navbar-list .asus .all-asus .brand a:hover,
.navbar .navbar-list .asus .all-asus .fillter-price a:hover,
.navbar .navbar-list .asus .all-asus .hot-mobile a:hover,
/* dell */
.navbar .navbar-list .dell .all-dell .brand a:hover,
.navbar .navbar-list .dell .all-dell .fillter-price a:hover,
.navbar .navbar-list .dell .all-dell .hot-mobile a:hover
{
    border: transparent;
    /* background-color: #f7f7f7; */
    color: red;
    box-shadow: none;


}

.navbar .navbar-list .mobile .all-mobile .brand a,
.navbar .navbar-list .mobile .all-mobile .fillter-price a,
.navbar .navbar-list .mobile .all-mobile .hot-mobile a,
/* iphone */
.navbar .navbar-list .iphone .all-iphone .brand a,
.navbar .navbar-list .iphone .all-iphone .fillter-price a,
.navbar .navbar-list .iphone .all-iphone .hot-mobile a,
/* samsung */
.navbar .navbar-list .samsung .all-samsung .brand a,
.navbar .navbar-list .samsung .all-samsung .fillter-price a,
.navbar .navbar-list .samsung .all-samsung .hot-mobile a,
/* laptop */
.navbar .navbar-list .laptop .all-laptop .brand a,
.navbar .navbar-list .laptop .all-laptop .fillter-price a,
.navbar .navbar-list .laptop .all-laptop .hot-laptop a,
/* asus */
.navbar .navbar-list .asus .all-asus .brand a,
.navbar .navbar-list .asus .all-asus .fillter-price a,
.navbar .navbar-list .asus .all-asus .hot-mobile a,
/* dell */
.navbar .navbar-list .dell .all-dell .brand a,
.navbar .navbar-list .dell .all-dell .fillter-price a,
.navbar .navbar-list .dell .all-dell .hot-mobile a
{
    padding: 0;
    text-decoration: none;
    margin: 0;
    height: 10%;
    color: black;
}


























@media (max-width: 1216px) {

    .navbar-list a {

        font-size: 12px;

    }

}

@media (max-width: 1190px) {
    .navbar-list span {
        display: none;
    }

    .navbar-list a {

        flex-direction: row;
        padding: 5px 5px 0 5px;

    }


}

@media (max-width: 930px) {
    .navbar-list {
        display: none;
    }

    .header-search {
        width: calc(50% + 20px);
    }
}

@media (max-width: 724px) {

    .header-cart {
        margin-right: 5px;
    }
}

@media (max-width: 562px) {
    .header-search {
        width: calc(300px - 15%);
    }

}