body {
    padding: 15px;
    margin: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Roboto, sans-serif;
  }
.mobile-container {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    background-color: #f8f9fa;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-list li {
    margin-right: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: #0f0f0f;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-list li a i {
    margin-right: 10px;
}

.clear {
    clear: both;
}

.name-product {
    height: 30px;
    margin-top: 0;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    padding: 10px;
}

.name-product>h1 {
    font-size: 16px;
    line-height: 1.5;
}

.name-product .detail-star {
    align-items: center;
    display: flex;
    font-size: 15px;
    margin: 0 5px 0 5px;
}

.name-product .detail-star>i {
    margin-right: 3px;
}

.name-product .compare {
    border: 1px solid rgb(2, 132, 139);
    border-radius: 2px;
    color: rgb(2, 132, 139);
    font-size: 14px;
    padding: 2px 3px;
    text-decoration: none;
}

hr {
    margin: 15px 0 15px;
}

.box_main {
    padding-top: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.box_left {
    width: 60%;
    float: left;
}

.box_left .box01 {
    margin-bottom: 15px;
}

/* ..........................slider..........................................*/

li {
    list-style: none;
}

.slider {
    display: inline;
    padding: 20px 0;
    height: 350px;
}

.slider-content {
    justify-content: space-between;
}

.slider-content-top {
    width: 100%;
    height: 300px;
    position: relative;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    overflow: hidden;
}

.slider-content-top:hover i {
    opacity: 1;
}

.slider-content-top img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.slider-content-bottom {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.slider-content-bottom li {

    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 1px;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    width: 50px;
    margin-right: 10px;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.slider-content-bottom li p {
    color: #666;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    text-align: center;
}

.slider-content-bottom li img {
    height: auto;
    max-width: 100%;
}

.slider-content-bottom li::before {
    display: block;
    content: "";
}

.slider-content-bottom li.active {
    border: 2px solid rgb(2, 132, 139);
}

.slider-content-top-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-content-top-btn i {
    color: #333;
    font-size: 32px;
    height: 60px;
    width: 25px;
    background-color: #faf4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    cursor: pointer;
}

/*..............................................*/

.box02 {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 25px;
}

.policy {
    margin: 15px 10px 0 10px;
    padding: 12px 0;
}

.policy_list {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.policy_list li {
    border-bottom: 1px solid #f1f1f1;
    padding: 12px 0 12px 10px;
    width: 50%;
    display: flex;
    box-sizing: border-box;
}

.policy_list li.policy_list-btn {
    border-bottom: 0;
}

.policy_list li i {
    left: 0;
    position: relative;
    margin-right: 10px;
    top: 0px;
}

.policy_list li p {
    line-height: 20px;
    margin: 0;
    font-size: 14px;
}



.box04 {
    margin: 0 auto;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
   padding: 10px 15px 15px 15px;

}
.rating-summary {
    display: flex;
    justify-content: space-between;
}

.rating-average {
    text-align: center;
}

.rating-number {
    font-size: 36px;
    font-weight: bold;
    color: #f90;
}

.rating-count {
    color: #666;
}

.rating-bars {
    width: 60%;
}

.rating-images {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.rating-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.view-all {
    background-color: #f0f0f0;
    border: 1px solid black;
    color:  333;
    width: 50%;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.write-review {
    background-color: #1a73e8;
    color: white;
    width: 50%;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.box_right {
    width: 40%;
    float: right;
}
.box05 {
    margin-bottom: 5px;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 25px;
}

.box05 a {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    /* min-width: 67px; */
    padding: 0 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 10px;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
    position: relative;
    text-decoration: none;
}

.box05 a.active {
    border: 2px solid rgb(2, 132, 139);
    color: rgb(2, 132, 139);
}

.box06 {
    width: 95%;
    height: auto;
    background: linear-gradient(to right, rgb(110, 182, 185) 38.99%, rgb(2, 132, 139) 76.29%);
    margin-bottom: 10px;
    margin-left: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.box06_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box06_top-left b {
    display: block;
    font-size: 16px;
    margin: 10px 0 0 10px;
}

.box06_top-left p {
    font-size: 24px;
    margin: 5px 0 0 10px;
}

.box06_top-left del {
    font-size: 14px;
    margin: 5px 5px 0 10px;
}

.box06_top-left i {
    font-size: 18px;
}

.box06_top-right p {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    margin: 5px 12px 0 0;
}

.box06_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.box06_bottom-sale {
    border: 1px solid #fee2e2;
    border-radius: 10px;
    width: auto;
    margin: 10px;
}

.box06_bottom_sale-top {
    display: flex;
    align-items: center;
    height: 50%;
    color: red;
    font-size: 16px;
    background-color: #fee2e2;
    border-radius: 10px;
    padding: 10px;
}

.box06_bottom_sale-bottom {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px;
}

.box06_bottom_sale-bottom i {
    margin-right: 5px;
}

.box06_bottom-rule {
    background-color: #fff;
    border: 1px solid #fee2e2;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px;
}

.box06_bottom-rule ul {
    margin: 0;
    padding-left: 10px;
}

.box06_bottom-rule li {
    font-size: 14px;
    margin-bottom: 5px;
}

.box06_bottom_order-top {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 10px;
}

.box06_bottom_order-top .order-left {
    background-color: #dd1010;
    border: none;
    border-radius: 10px;
    color: #fff;
    flex-direction: column;
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.box06_bottom_order-top .order-left strong {
    font-size: 16px;
}

.box06_bottom_order-top .order-left span {
    display: block;
    font-size: 14px;
}

.box06_bottom_order-top .order-right {
    background-color: initial;
    border: 2px solid #dd1010;
    border-radius: 10px;
    width: 85px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}

.box06_bottom_order-top .order-right i {
    font-size: 24px;
}

.box06_bottom_order-top .order-right span {
    color: #e04040;
    font-size: 8px;
    font-weight: 600;
}

.box06_bottom_order-bottom {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 10px;
}

.box06_bottom_order-bottom .order_left-bottom {
    background-color: rgb(21, 21, 241);
    border: none;
    border-radius: 10px;
    color: #fff;
    flex-direction: column;
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.box06_bottom_order-bottom .order_right-bottom {
    background-color: rgb(21, 21, 241);
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}

.box07 {
    margin-top: 15px;
    margin-left: 25px;
    width: 90%;
}

.box07 h3 {
    line-height: 1.3;
    font-size: 20px;
    margin-bottom: 15px;
}

.box07 ul {
    list-style-type: none;
    padding: 0;
}

.box07 li {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    font-size: 14px;
    margin: 0;
}

.box07 li:nth-child(odd) {
    background-color: #e6dada94;
}

.box07 li p {
    width: 150px;
    margin: 0;
    padding-right: 20px;
}

.box07 li span {
    flex: 1;
}

.box07 .box07-bottom {
    border: 1px solid #2f80ed;
    border-radius: 5px;
    color: #2f80ed;
    display: block;
    margin: 0 auto;
    max-width: 340px;
    padding: 10px 5px;
    text-align: center;
    cursor: pointer;
}