
.cart{
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    padding-bottom: 15px;
}
.remove {
    text-decoration: none;
    color: red;
    display: inline-block;
    padding: 5px 10px;
    background-color: #f8d7da;
    border-radius: 5px;
}
.remove:hover {
    background-color: #f5c6cb;
}
.cart h2 {
    text-align: center;
    color: red;
    padding-top: 30px;
    font-size: larger;
    text-transform: uppercase;
    margin: 0;
}

.cart table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    background-color: #e8e8e8;
   

}
.cart .remove button , .cart .all-remove button {
    background: none; 
    border: none;
    padding: 0;
    margin: 0; 
    font: inherit;
    cursor: pointer; color:red
}
.name_product{
    width: 35%;
}
.cart th,
td {
    padding: 12px;
    border: 2px solid #ccc;
    
}

.cart th {
    background-color: #236B8E;
    color: white;
}

.cart td {
    background-color: white;
    color: #333;
}
.cart td input {
    width: 30px;
    text-align: center;
}
.cart td:nth-child(3) img {
    width: 100px;
    height: auto;
}
.cart .price {
    width: 15%;
}

.cart td:nth-child(1),
.cart td:nth-child(4),
.cart td:nth-child(5),
.cart td:nth-child(6),
.cart td:nth-child(7) {
    text-align: center;
}
.table_bottom {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
 
}
.table_bottom a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    
}


.table_bottom a {
    padding: 10px 20px;
    background-color: #98c8d3;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.table_bottom a:hover {
    background-color: #7aaab7;
}

.table_bottom h3 {
    margin: 0;
}

.delete_all {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.delete_all i {
    margin-right: 5px;
}

.delete_all a {
    padding: 10px 20px;
    background-color: #236B8E;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.delete_all a:hover {
    background-color: #1d5b74;
}


